<!--Sidebar-->
<div class="container-fluid">
    <div class="row" style="height: 100vh">
        <div class="col-2 col-sm-3 col-xl-2 text-white bg-dark">
        <div class="sticky-top">
            <nav class="navbar bg-dark border-bottom border-white mb-3" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand text-white" href="#">
                        <i class="bi bi-speedometer2 me-2"></i><span class="d-none d-sm-inline">Top CRM</span>
                    </a>
                    </div>
                </nav>

                <nav class="nav flex-column">
                    <a class="nav-link text-white" style="white-space: nowrap" href="#">
                        <i class="bi bi-people-fill"></i><span class="d-none d-sm-inline ms-2">Працівники</span>
                    </a>
                    <a class="nav-link text-white" style="white-space: nowrap" href="#">
                        <i class="bi bi-tools"></i><span class="d-none d-sm-inline ms-2">С\Г Роботи</span>
                    </a>
                    <a class="nav-link text-white" style="white-space: nowrap" href="#">
                        <i class="bi bi-flower1"></i><span class="d-none d-sm-inline ms-2">С\Г Культури</span>
                    </a>
                    <a class="nav-link text-white" style="white-space: nowrap" href="#">
                        <i class="bi bi-person-lines-fill"></i><span class="d-none d-sm-inline ms-2">Клієнти</span>
                    </a>
                    <a class="nav-link text-white" style="white-space: nowrap" href="#">
                        <i class="bi bi-currency-dollar"></i><span class="d-none d-sm-inline ms-2">Продажі</span>
                    </a>
                    <a class="nav-link text-white" style="white-space: nowrap" href="#">
                        <i class="bi bi-box-seam"></i><span class="d-none d-sm-inline ms-2">Товари</span>
                    </a>
                    <a class="nav-link text-white" style="white-space: nowrap" href="#">
                        <i class="bi bi-droplet-half"></i><span class="d-none d-sm-inline ms-2">Добрива</span>
                    </a>
                    <a class="nav-link text-white" style="white-space: nowrap" href="#">
                        <i class="bi bi-truck"></i><span class="d-none d-sm-inline ms-2">Постачальники</span>
                    </a>
                    <a class="nav-link text-white" style="white-space: nowrap" href="#">
                        <i class="bi bi-box-arrow-in-down"></i><span
                            class="d-none d-sm-inline ms-2">Поставки добрив</span>
                    </a>
                </nav>

            </div>
        </div>
        <div class="col-10 col-sm-9 col-xl-10 p-0 m-0">
            <nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
                <div class="container-fluid">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                <i class="bi bi-arrow-bar-right me-2"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="px-3">
                <p>Hello!</p>
                <p>Hello!</p>
                <p>Hello!</p>
            </div>
        </div>
    </div>

</div>


